h2 {
   color: blueviolet;
   background-color: rgb(100, 77, 9);
}

button {
   color: #4f4354;
   background-color: cyan;
}

p {
   color: turquoise;
}

body {
   background-color: #cc55ee;
}